@media  (min-width:650px) and (max-width:1000px){
    /* main body */

#content{
    margin-top: 20px;
    display: grid;
    grid-template-areas: "one two"
                         "three four";
    column-gap: 10px;
    row-gap: 10px;
}
.first-post,
.second-post,
.third-post,
.fourth-post{
    margin: 10px;
}

.first-post{
    grid-area: one;
    
}


.second-post{
    grid-area: two;
}


.third-post{
    grid-area: three;
}


.fourth-post{
    grid-area: four;
}

}